* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h1 {
    font-size: 2em;
    border-bottom: solid 2px black;
    border-block-end: 
}

.committees h2 {
    border: dotted 4px seagreen;
}

.legislation h2 {
    border: dashed 3px goldenrod;
}

#committees {
    width: 235px;
}

#legislation {
    width: 200px;
}

